@font-face {
    font-family: DM Sans;
    src: url("./DMSans.ttf");
}


@keyframes fadeOut{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes rainbow{
    0%{
        background-color: hsl(0, 100%, 50%);
    }
    33%{
        background-color: hsl(120, 100%, 50%);
    }
    66%{
        background-color: hsl(240, 100%, 50%);
    }
    100%{
        background-color: hsl(0, 100%, 50%);
    }
}

.faded {
    animation: fadeOut 2s ease-out;
}

.rainbow{
    animation: rainbow 2s infinite;
}

body{
    margin: 0;
    padding: 0;
    font-family: DM Sans;
    background-color: rgb(28, 28, 28);
}

#game {
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

#title {
    color: white;
    font-size: 30pt;
    margin: 7pt;
}

#reset {
    font-size: 20pt;
    margin-top: 5pt;
    padding: 0 10pt;
    user-select: none;
    background-color: rgb(61, 64, 64);
    color: white;
}

#board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tilerow {
    width: 180pt;
    height: 35pt;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.tile {
    width: 30pt;
    height: 30pt;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(63, 63, 63);
    font-weight: 600;
    font-size: 20pt;
}

#keyboard{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keyrow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.keytile {
    margin:3pt;
    display: flex;
    padding: 0 5pt;
    width:10pt;
    height:30pt;
    font-size: 11pt;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #616161ff;
}

#popup {
    position: absolute;
    top:15%;
    left:50%;
    transform: translateX(-50%);
    opacity: 0;
    user-select: none;
    pointer-events: none;
    color: black;
    border-radius: 10%;
    padding:5pt 10pt;
    background-color: rgba(190, 190, 190, 0.8);
}